*.log
*.sql
/nbproject/private/
/App/Conf/config.php
/App/Conf/config_bak.php
/App/Conf/extra.php
/nbproject
/.idea
/App/Wechat/access_token.json
/App/Wechat/jsapi_ticket.json
/ThinkPHP
*.txt
Public/Radmin_v3/images/logo/system_logo.jpg
Public/Admin_v3/images