<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
	             <rule name="rule1" stopProcessing="true">
                     <match url="^article/([0-9]+)/([_0-9a-z-]+)" />
                     <action type="Rewrite" url="article.aspx?id={R:1}&amp;title={R:2}" />
                </rule>
                <rule name="rule2" stopProcessing="true">
                    <match url="^tags/([0-9]+)" />
                    <action type="Rewrite" url="tags.php?tags={R:1}"  />
                </rule>
				<rule name="rule3" stopProcessing="true">
                    <match url="^test.html" />
                    <action type="Rewrite" url="test.asp"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer> 	
</configuration>
