.topbar-menu {
    position: absolute;
    margin-left: 220px;
    margin-right: 140px;
    float: left;
    .control-menu {
        height: 50px;
        width: 100%;
        //      overflow-y: hidden;
        .tabdrop {
            display: none;
            margin: 0 5px;
            padding: 0 15px;
            line-height: 50px;
            a {
                display: block;
                text-decoration: none;
                color: white;
                .caret {
                    margin-left: 5px;
                    color: white;
                }
            }
            .dropdown-menu {
                border-radius: 5px;
                border: none;
                color: #09c;
                padding: 15px 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, .5);
                &>.active>a,
                &>.active>.dropdown-items>a {
                    color: white;
                    background-color: #7fd7f5;
                }
                .dropdown-items {
                    position: relative;
                    height: 22px;
                    a {
                        color: black;
                        width: 100%;
                        height: 100%;
                        line-height: 22px;
                        transition: all .2s linear;
                        .icons,
                        .icons2 {
                            font-size: 14px;
                            width: 10px;
                            margin: 0 10px;
                        }
                        &:hover {
                            background-color: #7fd7f5;
                        }
                    }
                    .close-tab {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-55%);
                        z-index: 50;
                        cursor: pointer;
                    }
                }
            }
            background-color: #01a4da;
            &:hover {
                background-color: #09c;
            }
        }
        .items {
            position: relative;
            float: left;
            height: 50px;
            box-sizing: border-box;
            text-align: center;
            background-color: #01a4da;
            margin-right: 2px;
            border-radius: 3px;
            border: none;
            &:hover {
                background-color: #09c;
                .close {
                    opacity: 1;
                }
            }
            a {
                display: block;
                color: white;
                text-decoration: none;
                padding: 0 18px 0 10px;
                .icons {
                    margin-right: 5px;
                }
            }
            span,
            i {
                font-size: 12px;
                line-height: 50px;
                color: white;
                margin-right: 5px;
            }
            .close {
                position: absolute;
                right: 3px;
                top: 0;
                opacity: .3;
                color: white;
                text-shadow: none;
                z-index: 50;
            }
        }
    }
}